<div class="album">
  <h3>Album</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
          <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Image title</h4>
      </div>
      <div class="modal-body">
        <%= image_tag ("/images/jacht1.jpg"), class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>

<!-- <%# images.each do |image| %>
  <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 thumb">
    <a class="thumbnail" data-toggle="modal" data-target="#myModal">
      <%#= image_tag ("/images/#{image}"), class: "img-responsive" %>
    </a>
  </div>
<%# end %>

<%# images.each do |image| %>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Image title</h4>
        </div>
        <div class="modal-body">
          <%#= image_tag ("/images/#{image}"), class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
<%# end %> -->
